
/* Header Styles */
header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Distribute content evenly along the header */
    align-items: center; /* Center items vertically */
}
.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}
/* Style the logo image */
.logo img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Style the logo container */
.logo-content {
    display: flex;
    align-items: center; /* Vertically center-align */
}

/* Style the logo text */
.logo-content span {
    margin-left: 10px; /* Adjust the spacing between image and text */
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
/* Body Styles */
body {
    background-color: #d7d7d7;
    color: black;
}
